.section{
	width: 100%;
}

.content{	
	margin: 0 auto;
    width: 100%;
    max-width: 1300px;
}

.section::after{
clear:both;
margin: 15px;
margin: 15px;
}

.cell {
margin: 10px;
padding: 0 12px;

}

.demo .cell {
	background-color:	rgba(189,161,100,0.3);
	text-align: center

}

 .grid{
	float: left;
	margin: 0px;	

}

 .guide-grid{
	float: left;
	margin: 0px;
padding: 20px;	

}

.demo .grid{
	background-color:	rgba(189,161,100,0.3);

}

.whole{
	
	width: 100%;

}

.three-fourths{
	
	width: 75%;
	overflow: auto;
}

.half{
	
	width: 50%;
}

.guide-half{
	
	width: 45%;
}


.quarter{
	
	width: 25%;

}

.eighth{
	
	width: 12.5%;

}


.hi-left{
		Background-image: linear-gradient(90deg, #f6f3ed 50%, white 50%);	
	    background-color: #f6f3ed;
overflow: auto;
}


.hi-right{
	
		Background-image: linear-gradient(90deg, white 50%, #f6f3ed 50%);
	    background-color: #fff;
overflow: auto;
}


.blog-head{
	margin: 0px auto;
	float:none;
	text-align: center;
	width: 75%
}

.tags{
	margin-bottom: 20px;
	text-align: right;
}

.tags .subject{
	display: inline-block;
	padding: 3px 8px;
	background-color: #f6f3ed;
width: fit-content;
font-weight: 700;
	font-family: 'Noto Sans', sans-serif;
	font-size: .85rem;
	line-height: 20px;
	color: #bda164;	
  margin-bottom: 5px;
}

.blog-content{
width: 50%;
}



.blog-content img{
margin: 0px auto;
display:block;
}

.rel{
	position: relative;
	top: 0;
	float: none;
	
}

.toc{
 position: -webkit-sticky;
  position: sticky;
  top: 0;
  margin: 0px auto;
  max-width: 1300px;
  width: 100%;
  padding: 0px;
}

.toc-guide{
 position: -webkit-sticky;
  position: sticky;
  top: 0;
  margin: 0px auto;
  max-width: 1550px;
  width: 100%;
  padding: 0px;
}


.toc-guide .list

{
	
	width: 100px;
	margin-top: 20px;
	background-color: #f6f3ed;
	padding: 10px;
	overflow: auto;
	float: left;
	
}

.toc .list{

	float: right;
	width: 24%;
	margin-top: 5px;
	background-color: #f6f3ed;
	padding: 10px;
	overflow: auto;
	
}

.blog-eighth{
	
	width: 12.5%;
	margin-left: 11%;
}


.blog .cell{
	
	padding: 0px 12px;
}

.blog-by{
	text-align: left;
	padding-left: 50px;
	
}

.fake-image{
	height: 150px;
width: 100%;
background-color: #aaa;
}

footer{
	
	  text-align: center;
  background-color: #475566;
  color: white;
display:block;  
overflow: auto;
}

figure{
	margin-bottom: `10px;
	overflow: auto;
}

.what {
  height: 400px;
  width: 400px;
  background-color:	rgba(189,161,100,0.7);
  border-radius: 50%;
  margin-top: 70px;
}

.how {
  height: 300px;
  width: 300px;
  background-color:	rgba(255,255,255,0.2);
  border-radius: 50%;
  margin: 0px auto;
}

.why {
  height: 200px;
  width: 200px;
  background-color:	rgba(255,255,255,0.2);
  border-radius: 50%;
  margin: 0px auto;
}

.circle-text{
	margin: 10px auto;
	padding: 18px;
text-align: center;
	font-size: 1rem;
    font-family: Montserrat;
    font-weight: 700;
	color: #fff;

}

.navbar-guide{
	float: right;
    margin-top: -45px;
	margin-right: 10px;

}

.navbar-guide a{
    padding: 10px;
	font-size: .85rem;
		text-transform: uppercase;	
		line-height: .85rem;

}

.whole p, .three-fourths p, .sub-section p, .whole ul, .three-fourths ul, .sub-section ul{
	max-width: 650px;
	}
	

.content-plus{
	max-width: 650px;
	width: 75%;
	margin: 0px auto;
	clear: both;
	
}

.content-content{
	width: 60%;
float: left	;
margin: 10px;
}

.plus{
width: 200px;
margin:10px auto;
background-color: #f6f3ed;
font-family: 'Noto Sans', sans-serif;
font-size: 1.25rem;
}


@media (max-width: 1300px) {
  .blog-head{ max-width: 970px;
  width:100%;}
  
@media (max-width: 1000px){
.byline{ width: 100%;}
.tags{text-align: left;}
.toc{ display:none; }
.blog-content{width: 90%; margin: 0px auto; float: none;}
.by {width: 50%; float:left;}
  }

